.background {

    background-color: green;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    color: white;

    background-image: url(' http://www.forest.go.kr/newkfsweb/cmm/fms/FileDown.do?atchFileId=FILE_000000010008639&fileSn=0');
    background-position: center;
    background-size: cover;

    /* div내에 있는 간격 조정하기 */

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.background>h1 {
    margin: 0px 0px 0px 0px;
}

.background>h5 {
    margin: 5px 0px 0px 0px;
}

.frame{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
*{
    font-family: 'Black Han Sans', sans-serif;
}